<ion-view view-title="<img class='icomenu' src='assets/img/icon.png'>Convênios Próximos">
  <ion-content>
    <!--<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<input type="search" ng-model="search" placeholder="Pesquisar" ng-change="atualizaText(search)">
			</label>
		</div>-->

    <div data-uib="media/google_maps" data-ver="0" data-rpath="null" data-zoom="19" id="map_canvas" style="height:450px;"></div>

    <br>
    <button class="button button-feijor button-inside-app button-blue" ng-click="openarea()">ÁREA DE ATUAÇÃO</button>
    <br>

  </ion-content>
</ion-view>
