<ion-view view-title="<img class='icomenu' src='assets/img/icon.png'>Detalhes Assistência Financeira">
  <ion-content class="dAssistFinanceira">
    <div class="borda">
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Titular</p>
        </div>
        <div class="col direita">
          <p>Bruno Fernandes Horn</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Data de Receb.</p>
        </div>
        <div class="col direita">
          <p>01/03/2016</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Cod. Controle</p>
        </div>
        <div class="col direita">
          <p>0054875</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Matrícula</p>
        </div>
        <div class="col direita">
          <p>0478888</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Tipo Auxílio</p>
        </div>
        <div class="col direita">
          <p>Assistência Financeira Pessoal</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Qtd. de Parcelas</p>
        </div>
        <div class="col direita">
          <p>36</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Data 1º Desconto</p>
        </div>
        <div class="col direita">
          <p>05/10/2016</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Valor Parcela</p>
        </div>
        <div class="col direita">
          <p>R$999.999,00</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Parcela Atual</p>
        </div>
        <div class="col direita">
          <p>8</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-33 esquerda">
          <p>Correção Ult. Pag.</p>
        </div>
        <div class="col direita">
          <p>R$45,62</p>
        </div>
      </div>
      <div class="row" style="margin-bottom: 0px;">
        <div class="col col-33 esquerda">
          <p>Observação</p>
        </div>
        <div class="col direita">
          <p>Autorizado Juvencio</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>