<ion-view view-title="<img class='icomenu' src='assets/img/icon.png'>Detalhes Auxílio Saúde">
  <ion-content class="dAuxSaude">
    <div class="borda">
      <div class="row row-body">
        <div class="col my-col-45">
          <p>Tipo de Auxílio</p>
        </div>
        <div class="col my-col-55">
          <p>Auxílio Saúde</p>
        </div>
      </div>
      <div class="row row-body">
        <div class="col my-col-45">
          <p>Recebimento</p>
        </div>
        <div class="col my-col-55">
          <p>01/03/2016</p>
        </div>
      </div>
      <div class="row row-body">
        <div class="col my-col-45">
          <p>1º Desconto</p>
        </div>
        <div class="col my-col-55">
          <p>05/05/2016</p>
        </div>
      </div>
      <div class="row row-body">
        <div class="col my-col-45">
          <p>Qtd. de Parcelas</p>
        </div>
        <div class="col my-col-55">
          <p>2</p>
        </div>
      </div>
      <div class="row row-body">
        <div class="col my-col-45">
          <p>Parcelas descontadas</p>
        </div>
        <div class="col my-col-55">
          <p>5</p>
        </div>
      </div>
      <div class="row row-body">
        <div class="col my-col-45">
          <p>Valor mensal</p>
        </div>
        <div class="col my-col-55">
          <p>R$36,00</p>
        </div>
      </div>
      <div class="row row-body" style="margin-bottom: 0px;">
        <div class="col my-col-45">
          <p>Valor total</p>
        </div>
        <div class="col my-col-55">
          <p>R$999.999,00</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>