<ion-view view-title="<img class='icomenu' src='assets/img/icon.png'>Detalhes Descontos Hospitalares">
  <ion-content class="dHospitalar">
    <div class="row">
      <div class="col">
        <p class="texto">Detalhamento</p>
        <p class="texto">de descontos</p>
      </div>
    </div>
    <div class="row" style="margin-bottom: -10px;">
      <div class="col faixa">
        <p>Novembro de 2016</p>
      </div>
    </div>
    <div class="borda">
      <div class="row grid titulo">
        <div class="col col-20 esquerda">
          <p>Convênio</p>
        </div>
        <div class="col esquerda">
          <p>Nome</p>
        </div>
        <div class="col col-33 direita">
          <p>Data e Hora</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col col-20 esquerda">
          <p>H.P.M</p>
        </div>
        <div class="col esquerda">
          <p>Bruno Fernandes Horn</p>
        </div>
        <div class="col col-33 direita">
          <p>07/102016 - 10:48</p>
        </div>
      </div>
      <div class="row grid titulo">
        <div class="col direita">
          <p>Procedimento</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col direita">
          <p>Nome do procedimento</p>
        </div>
      </div>
      <div class="row grid titulo">
        <div class="col direita">
          <p>Valor</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col direita">
          <p>R$999.999,00</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>