<ion-view view-title="<img class='icomenu' src='assets/img/icon.png'>Detalhes Despesas Odontológicas">
  <ion-content class="dOdontologica">
    <div class="row">
      <div class="col">
        <p class="texto">Detalhe de</p>
        <p class="texto">Orçamento</p>
      </div>
    </div>
    <div class="row" style="margin-bottom: -10px;">
      <div class="col faixa">
        <p>Orçamento</p>
      </div>
    </div>
    <div class="borda">
      <div class="row grid titulo">
        <div class="col col-20 esquerda">
          <p>Orçamento</p>
        </div>
        <div class="col esquerda">
          <p>Paciente</p>
        </div>
        <div class="col col-33 direita">
          <p>Data do orçamento</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col col-20 esquerda">
          <p>116785</p>
        </div>
        <div class="col esquerda">
          <p>Bruno fernandes Horn</p>
        </div>
        <div class="col col-33 direita">
          <p>05/10/2016</p>
        </div>
      </div>
      <div class="row grid titulo">
        <div class="col esquerda">
          <p>Dentista</p>
        </div>
        <div class="col col-33 direita">
          <p>Final do tratamento</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col esquerda">
          <p>Patricia Santos</p>
        </div>
        <div class="col col-33 direita">
          <p>05/12/2016</p>
        </div>
      </div>
      <div class="row" style="50px;">
        <div class="col" style="background-color: white;"><p class="texto2">Finalizado</p></div>
      </div>
    </div>
    
    <div class="row" style="margin-bottom: -10px;">
      <div class="col faixa">
        <p>Parcelamento do orçamento</p>
      </div>
    </div>
    <div class="borda">
      <div class="row grid titulo">
        <div class="col col-20 esquerda">
          <p>Matrícula</p>
        </div>
        <div class="col esquerda">
          <p>Convênio</p>
        </div>
        <div class="col col-33 direita">
          <p>1º Desconto</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col col-20 esquerda">
          <p>2548754</p>
        </div>
        <div class="col esquerda">
          <p>Cons. Odontologicas ABEPOM</p>
        </div>
        <div class="col col-33 direita">
          <p>10/2016</p>
        </div>
      </div>
      <div class="row grid titulo">
        <div class="col col-25 esquerda">
          <p>Qtd. Parcelas</p>
        </div>
        <div class="col col-20 esquerda">
          <p>Valor</p>
        </div>
        <div class="col esquerda">
          <p>Parcelas pagas</p>
        </div>
        <div class="col direita">
          <p>Nº Parcelamento</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col col-25 esquerda">
          <p>23</p>
        </div>
        <div class="col col-20 esquerda">
          <p>R$9.999,00</p>
        </div>
        <div class="col esquerda">
          <p>2</p>
        </div>
        <div class="col direita">
          <p>2548754</p>
        </div>
      </div>
      <div class="row grid titulo">
        <div class="col col-20 esquerda">
          <p>Cód.</p>
        </div>
        <div class="col esquerda">
          <p>Procedimento</p>
        </div>
        <div class="col col-10 esquerda">
          <p>Qtd.</p>
        </div>
        <div class="col col-33 direita">
          <p>Total</p>
        </div>
      </div>
      <div class="row grid">
        <div class="col col-20 esquerda">
          <p>Item 0120</p>
        </div>
        <div class="col esquerda">
          <p>Urgência Odontológica</p>
        </div>
        <div class="col col-10 esquerda">
          <p>1</p>
        </div>
        <div class="col col-33 direita">
          <p>R$9.999,00</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>