<ion-view view-title="<img class='icomenu' src='assets/img/icon.png'>Notificações">
  <ion-content>
    <div class="list notifications">

      <p class="title" ng-show="!notificacoes">Nenhum item a ser exibido</p>

      <a class="item item-icon-left" ng-repeat="notificacao in notificacoes">
        <i class="icon green ion-android-notifications-none" ng-class="{'green' : notificacao.tipo == 1,'yellow' : notificacao.tipo == 2,'red' : notificacao.tipo == 3}"></i>
        {{notificacao.descricao}}
        <span class="item-note">
          {{notificacao.data_notificacao}}
        </span>
      </a>

    </div>
  </ion-content>
</ion-view>
