<ion-view view-title="<img class='icomenu' src='assets/img/icon.png'>Solicitar Auxílio">
  <ion-content class="soliaux2" ng-controller="soliaux2Ctrl">

    <img src="{{imgBase}}" ng-click="setaimg()" style="width: 80%;margin: 10% 10%;height: 300px;">


    <button class="button button-feijor button-inside-app small-btn button-blue icon ion-ios-camera-outline" ng-click="confirma()" style="width: 80% !important;margin: 0px 10% !important;"> Enviar foto do orçamento</button>

  </ion-content>
</ion-view>
